extends layout

block layout-content
  div.Background
    div.Body
      div.BodyCentral
        h1.white JIMMY VAN TWEST
        h2.white Art department | London
        br
        div.NavButtons
          a(href="")
              div.Button ENTER
